  @charset"UTF-8";

  html {
    overflow: auto;
  }

  body{
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }

  h2 {
    font-size: 2.5em;
    font-family: 'Bitter','serif';
  }

  p  {
    margin: 0;
  }

  ul {
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
  }

  img {
    width: 100%;
    display: block;
  }

  .container {
    margin: 0 auto;
    max-width: 1180px;
  }
  /* header-start */
  header {
    width: 100%;
    height: 65px;
    background-color: #4afff9;
    position: fixed;
    z-index: 10;
  }

  .header-in {
    display: flex;
    justify-content: space-around;
  }

  .top-logo {
    width: 80px;
    transition: opacity 0.3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    padding-top: 5px;
  }

  .top-logo:hover {
    opacity: 0.2;
  }

  .gloval-navi {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;

  }

  .gloval-nav-link {
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 10px;
    font-family: 'Bitter','serif';
  }

  .gloval-navi-list {
    padding: 15px;
  }

  .list-item {
    padding-right: 5px;
  }

  .underline {
    display: inline;
    position: relative;
  }

  .underline::after {
    background-color: #fff;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 3px;
    transition: 0.4s all ;
    width: 0;
  }

  .underline:hover::after {
    width: 100%;
  }

  .NavMenu {
    display: none;
  }

  .Toggle {
    display: none;
  }
  /* header-end */

  /* main-view-start */
  .main-view {
    background-image: url(../images/main-view.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  .main-logo {
    max-width: 400px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  /* main-view-end */

  /* profile-start */

  .plofile {
    padding: 30px 0;
  }

  .profile-area {
    padding: 0 20px;
  }

  .profile-top {
    display: flex;
    justify-content: center;
  }

  .my-name {
    font-size: 4em;
    padding-right: 30px;
    margin: 0;
    align-items: center;
    font-family: 'Bitter','serif';
    font-weight: 600;
  }

  .my-face {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }

  .profile-text-area {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 0;
    line-height: 33px;
    letter-spacing: 3px;
    text-align: center;
  }

  .profile-text-top {
    text-align: left;
    padding-bottom: 20px;
  }
  /* profile-end */

  /* portfolio-start */
  .portfolio {
    padding: 30px 0;
    background-color: #ebebeb;
  }

  .portfolio-contents-area {
    padding: 0 20px;
  }

  .portfolio-contents {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .portfolio-content {
    flex-basis: 40%;
    padding-top: 25px;
  }

  .portfolio-content-in {
    border-radius: 5px;
    box-shadow: 3px 2px 4px 1px #8a8a8a;
    transition: all 0.5s;
    position: relative;
  }

  .portfolio-content-in:hover {
    transform: scale(1.05);
    box-shadow: 3px 2px 10px 1px #8a8a8a;
  }

  .portfolio-content-img {
    border-radius: 5px;
  }

  .referrer,.portfolio-content-text {
    padding: 20px 0 0 15px;;
  }

  .content-item1 {
    font-size: 15px;
    color: #fff;
    padding: 2px 10px;
    background-color: #4afff9;
    border-radius: 15px;
    letter-spacing: 2px;
    position: absolute;
    top:-15px;
    left: 10px;
  }
  /* portfolio-end */

  /* contact-start */
  .contact {
    padding: 30px 0;
  }

  .contact-area {
    padding: 0 20px;
  }

  .contact-text {
    max-width: 650px;
    margin: 0 auto;
  }

  .contact-area-in {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }

  .contact-item-area {
    text-align: center;
    padding: 20px;
  }

  .contact-item-area p {
    padding-top: 5px;
    font-family: 'Bitter','serif';
  }

  .twitter {
    font-size: 30px;
    background-color: #3AB4FF;
    border-radius: 50%;
    padding: 8px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: #fff;
    transition: all 0.5s;
  }

  .twitter:hover {
      transform: scale(1.1);
  }

  .mail {
    font-size: 30px;
    background-color: #3AB4FF;
    border-radius: 50%;
    padding: 8px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: #fff;
    transition: all 0.5s;
  }

  .mail:hover {
      transform: scale(1.1);
  }

  /* contact-end */

  /* footer-start */
  footer {
    background-color: #4afff9;
    height: 35px;
    text-align: center;
    line-height: 35px;
  }

  /* footer-end */

  .portfolio-page-contents {
    padding: 60px 20px;
    text-align: center;
    margin: 0 auto;
  }

  .portfolio-page-content {
    margin: 0 auto;
  }

  .portfolio-page-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-page-content img {
    padding: 20px;
    flex-basis: 45%;
    width: 45%;
  }

  .portfolio-page-content .big {
    width: 80%;
  }
